*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
   box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {

	width: 100%;
	background-color: green;
}

nav {
	float: left;
	width: 200px;
	height: 100%;
	overflow-y: auto; /* scrollbarkeit */
	background-color: silver;
	
}
#bigcontentarea {
	width: calc(100% - 200px);
	display: table;
	float: left;
	min-height: 100%;
	background-color: green;
}
header {
	padding: 1em;
	background-color: yellow;

}

footer {
		padding: 0.7em;
		background-color: pink;
}
.tabellen_zelle {
    display: table-row;

}
.maximale_hoehe {
    height: 100%;
    background-color: deepskyblue;
    background-color: orange;
}

#logo {
	color: red;
	background-color: gray;
	
}
.article {
	 max-width: 700px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 30px;
	 background-color: blue;
	 color: white;
}
/*mobile Steuerung*/
.menue-button {
 	display: none;
}
#greyarea {
	display: none;
}


/* Navigation */
.nav_list_element {
	list-style: none;
	padding: 0.7em;

	
}
.nav_link_element {
	text-decoration: none;
	font-weight: 700;
	color: #121212;
}
.nav_link_element:visited {
	color: #474747;
}
.nav_link_element:hover {
	color: #B5B5B5;
}


.nav_link_element:active {
	color: gray;
	text-decoration: none;
}





#nav_list_element1 {
	border-left: 10px #CC0000 solid;
	transition: all 0.3s ease;
} 
#nav_list_element1:hover {
	background-color: #CC0000;
	color: white;
	transition: all 0.3s ease;
}


#nav_list_element2 {
	border-left: 10px #FF7200 solid;
	transition: all 0.3s ease;
} 
#nav_list_element2:hover {
	background-color: #FF7200;
	color: white;
	transition: all 0.3s ease;
}

#nav_list_element3 {
	border-left: 10px #FFBB0D solid;
	transition: all 0.3s ease;
} 
#nav_list_element3:hover {
	background-color: #FFBB0D;
	color: white;
	transition: all 0.3s ease;
}

#nav_list_element4 {
	border-left: 10px #1B8500 solid;
	transition: all 0.3s ease;
} 
#nav_list_element4:hover {
	background-color: #1B8500;
	color: white;
	transition: all 0.3s ease;
}



#nav_list_element5 {
	border-left: 10px #D800FF solid;
	transition: all 0.3s ease;
} 
#nav_list_element5:hover {
	background-color: #D800FF;
	color: white;
	transition: all 0.3s ease;
}




#nav_list_element6 {
	border-left: 10px #160CFA solid;
	transition: all 0.3s ease;
} 
#nav_list_element6:hover {
	background-color: #160CFA;
	color: white;
	transition: all 0.3s ease;
}



#nav_list_element7 {
	border-left: 10px #86009E solid;
	transition: all 0.3s ease;
} 
#nav_list_element7:hover {
	background-color: #86009E;
	color: white;
	transition: all 0.3s ease;
}

#nav_list_element8 {
	border-left: 10px #0099FF solid;
	transition: all 0.3s ease;
} 
#nav_list_element8:hover {
	background-color: #0099FF;
	color: white;
	transition: all 0.3s ease;
}







footer li {
	list-style: none;
	float: left;
	display: block;
	padding: 0.7em;
	background-color: red;

}

@media only screen and ( max-width: 950px ) {   

#linkenavspalte {
	position: absolute;
	width: 250px;
	height: 100%;
	z-index: 1;
	transform: translate(-250px,0);
}
.c1.open {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
      }
#greyarea {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: grey;
	opacity: 0.9;
	z-index: 1;
}
#bigcontentarea {
	position: absolute;
	width: 100%;
	height: 100%;
}
.menue-button {
	display: block;
}
    
}















/*

@media only screen and ( min-width: 950px ) {     breites Browserfenster 
    body { background-color: yellow;}
}
@media only screen and ( max-width: 440px ) {     mobile Geräte 
    body { background-color: green;}
}
@media only screen and ( min-width: 440px ) and ( max-width: 950px ) {     Tablets und mittlere Bildschirme 
    body { background-color: red;}
}

*/