*{
	margin: 0;
	padding: 0;
}
/*#####################################################   Navigation   #########*/
nav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 280px;
	background-color: #EEEEEE;
	height: 100%;
	border-right: 1px solid grey;
	overflow-y: auto; /* scrollbarkeit */
	box-shadow: 1px 0px 5px silver;
	font-family: Helvetica, Arial, sans-serif;
}
nav ul {
	list-style: none;
}
nav ul li a {
	text-decoration: none;
}
nav ul li a:target {
	background-color: pink;
}
/*############   Navigation einzelne Elemente  #########*/

/* Navigation DESIGN */
 nav li {
	list-style: none;
	padding: 0.7em;
	border-bottom: #9E9E9E 1px solid;	
	
}
 nav li.sub {
	list-style: none;
	padding: 0.15em 0em 0.15em 2em;
	border-bottom: #9E9E9E 1px solid;	
	
}
nav ul li a {
	text-decoration: none;
	font-weight: 700;
	color: black;



}
nav ul li a:visited {
	color: #474747;
}
nav ul li a:hover {
	color: #B5B5B5;
}


nav ul li a:active {
	color: black;
	opacity: 0.7;

}
nav div {
	width: 100%;
	height: 60px;
	background: url("/img/system/logo3.png") no-repeat;
	background-size: contain;
	border-bottom: 1px solid gray;
}


#nav_list_element1 {
	border-left: 10px #CC0000 solid;
	transition: all 0.3s ease;

	
}
#nav_list_element1:hover {
	background-color: #CC0000;
	color: white;
	transition: all 0.3s ease;
}
#nav_list_element2 {
	border-left: 10px #FF7200 solid;
	transition: all 0.3s ease;
}
#nav_list_element2:hover {
	background-color: #FF7200;
	color: white;
	transition: all 0.3s ease;
}
#nav_list_element3 {
	border-left: 10px #FFBB0D solid;
	transition: all 0.3s ease;
}
#nav_list_element3:hover {
	background-color: #FFBB0D;
	color: white;
	transition: all 0.3s ease;
}
#nav_list_element4 {
	border-left: 10px #1B8500 solid;
	transition: all 0.3s ease;
}
#nav_list_element4:hover {
	background-color: #1B8500;
	color: white;
	transition: all 0.3s ease;
}
#nav_list_element5 {
	border-left: 10px #D800FF solid;
	transition: all 0.3s ease;
}
#nav_list_element5:hover {
	background-color: #D800FF;
	color: white;
	transition: all 0.3s ease;
}
#nav_list_element6 {
	border-left: 10px #160CFA solid;
	transition: all 0.3s ease;
}
#nav_list_element6:hover {
	background-color: #3F51B5;
	color: white;
	transition: all 0.3s ease;
}
#nav_list_element7 {
	border-left: 10px #86009E solid;
	transition: all 0.3s ease;
}
#nav_list_element7:hover {
	background-color: #86009E;
	color: white;
	transition: all 0.3s ease;
}
#nav_list_element8 {
	border-left: 10px #0099FF solid;
	transition: all 0.3s ease;
}
#nav_list_element8:hover {
	background-color: #0099FF;
	color: white;
	transition: all 0.3s ease;
}


/*#####################################################   Header     #########*/
header {
	width: calc(100% - 280px);
	height: 60px;
	background-color: darkblue;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	box-shadow: 0px 1.5px 5px grey;
}
header span {
	display: block;
	padding: 13px 30px 12px 30px;
	color: whitesmoke;
	font-size: 30px;
	font-family: Helvetica, Arial, sans-serif;
	float: left;
}

/*#####################################################   Hauptteil   #########*/
main {
	background-color: white;
	height: calc(100% - 60px);
	width: calc(100% - 280px);
	position: absolute;
	right: 0;
	bottom: 0;
	overflow-y: auto; /* scrollbarkeit */
}

/*#####################################################   Artikel   #########*/


article {
	max-width: 740px;
	margin: 0 auto;
	padding: 20px;

}

article p {
	line-height: 25px;
	font-size: 17px;
	font-family: Helvetica,Arial,sans-serif;
}

article h1 {
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 35px;
	font-weight: bold;
	color: #9E9E9E;
	display: block;
	width: 100%;  /*Macht, dass die Unterstreichung die ganze breite einnimmt*/
	border-bottom: 2px solid  #9E9E9E;
	margin-bottom: 20px;
}

article h2 {
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 27px;
	font-weight: bold;
	color: #9E9E9E;
	display: block;
	width: 100%;  /*Macht, dass die Unterstreichung die ganze breite einnimmt*/
	border-bottom: 2px solid  #9E9E9E;	
	margin: 50px 0px 10px 0px;
}
article h3 {
	font-family: Helvetica, Arial, sans-serif;
}
article h4 {
	font-family: Helvetica, Arial, sans-serif;	
}
article h5 {
	font-family: Helvetica, Arial, sans-serif;	
}
article h6 {
	font-family: Helvetica, Arial, sans-serif;	
}
article code {
	background-color: #e0e0e0;
	color: #757575;
	font-family: monospace;	
	font-size: 13px;
	font-weight: 100;
	padding: 2px 6px 2px 6px;
	overflow: auto;
	max-width: 100%;
	max-height: 200px;
	white-space: nowrap;  /*keine Zeilenumbrüche, stattdessen scrollen*/
}
article code.codeblock {
	border-left: 5px solid #757575;
	margin:20px 30px 20px 0px;
	background-color: #e0e0e0;
	color: #757575;
	font-family: monospace;	
	padding: 10px 10px 10px 15px;
	display: block;
	font-size: 15px;
	font-weight: 100;
	overflow: auto;
	max-width: 100%;
	max-height: 200px;
	white-space: nowrap;  /*keine Zeilenumbrüche, stattdessen scrollen*/
}
article span.taste {
	border: 1px solid #9E9E9E;
	background-color: #E0E0E0;
	color: black;
	padding: 1px 3px 1px 3px;
}
article span.info {
	display: block;
	width: 100%;
	margin: 20px 0 20px 0;
	padding: 10px 10px 10px 15px;
	background-color: #C5E1A5;
	border-left: 5px solid #8BC34A;
	line-height: 25px;
	font-size: 17px;
	font-family: Helvetica,Arial,sans-serif;
}
article code span.change {
	color: #B71C1C;
}
article code span.command {
	color: #558B2F;
}
article code a {
	text-decoration: none;
	color: #757575;
}
article code a:hover {
	text-decoration: underline;
	color: #01579B;
	font-weight: bold;
}

article span.warn {
	display: block;
	width: 100%;
	margin: 20px 0 20px 0;
	padding: 10px 10px 10px 15px;
	background-color: #FFAB91;
	border-left: 5px solid #FF5722;
	line-height: 25px;
	font-size: 17px;
	font-family: Helvetica,Arial,sans-serif;
}
/*#####################################################   Footer    #########*/
	
footer {
	display: block;
	height: 40px;
	width: 100%;
	background-color: #424242;
}
footer ul li {
	display: block;
	float: left;
}
footer ul li a {
	display: block;
	text-decoration: none;
	color: #E0E0E0;
	float: left;
	padding: 10px;
	border-right: 1px solid #616161;
}
footer ul li a:hover {
	display: block;
	text-decoration: none;
	color: #424242;
	background-color: #E0E0E0;
}
/*#####################################################   mobile Geräte 950px breite  #########*/

@media only screen and ( max-width: 950px ) {      

nav {
	transform: translate(-280px,0); /*####  menü schließt default  ####*/

	transition: transform 0.3s ease-out;
}
nav.open {
	transform: translate(0px,0); /*####  menü schließt default  ####*/

	transition: transform 0.3s ease-out;
}
#grayarea {
	position: absolute;
	width: 100%;
	height: 100%;

	opacity: 0.7;
	z-index: 1;
	transform: translate(-110%,0);

	transition: transform 0.05s ease-out;
}
#grayarea.open {												/*Grau-werden animation einbauen!!!*/
	background-color: #212121;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	transition: transform 0.0s ease-out;
	-webkit-animation: grayAreaAppear 0.05s; /* Chrome, Safari, Opera */
    animation: grayAreaAppear 0.05s;
}

/*Grauwerden-Animation:*/


/* Code for Chrome, Safari and Opera */
@-webkit-keyframes grayAreaAppear {
    from {background-color: none;}
    to {background-color: #212121;}
}
/* Standard syntax */
@keyframes grayAreaAppear {
    from {background-color: none;}
    to {background-color: #212121;}
}
/*Ende Animation*/
/*#####################################################   Header     #########*/
header { /*####  breite aufgrund der verschwundenen Navigation auf 100%  ####*/
	width: 100%;
}
header div {/*####  navigationsblock  ####*/
	display: block;
	width: 40px;
	height: 40px;
	background-color: red;
	margin: 10px 5px 10px 10px;
	float: left;
}

/*#####################################################   Hauptteil   #########*/
main { /*####  breite aufgrund der verschwundenen Navigation auf 100%  ####*/
	width: 100%;
}



}
















