* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}
header{
	background-color: #76A60A;
	width: 100%;
	float: left;
	/*#######################################################################schatten unten*/
}
#bereichlogo {
	color: white;
	background-color: #76A60A;
	display: block;
	padding: 0.8em;
	
	text-decoration: none;
	float: left;
	width: auto;
}

#steuerung li {
	list-style: none;
	float: left;
}
#steuerung a{
	display: block;
	height: 100%;
	width: 100%;
	padding: 0.8em;
	text-decoration: none; 	/* keine Unterstreichung*/
	color: white;       		/* Schriftfarbe weiß*/
	background-color: #76A60A;	/* Hintergrundfarbe grau*/
}
.menue-button {
	display: none;
}
#steuerung {
	float: right;

}
#steuerung a:hover {
	color: #C0F3A6;
	background: #457004;
}
/*eigenes CSS ############################################################################################## */
/*headerbereich*/
#headerbild {
	background: url(http://127.0.0.4/~harald/niemeczek_at/1/images/headerbild.png) no-repeat;
	background-position: center center;
	-webkit-background-position: center center;
	-moz-background-position: center center;
	-o-background-position: center center;
	height: 100%;	
	width: auto;
}
#headerbildhintergrund {
	width: 100%;
	background-color: yellow;
	height: 325px;
}

/*Inhaltbereich*/

#content_area {
	width: 985px;
	margin: 0 auto;
	margin-top: 3em;
}
#linke_spalte {
	width: 23%;
	margin-right: 2%;
	float: left;
}
#haupt_spalte {
	width: 75%;
	float: left;
}

/* allgemeine Formatierung*/
/* text */
p {
color: #172908;
font-size: 17px;
}
/* Überschriften */
h1 {
	
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}



/* Sticky Footer ########################################################################################### */
html, body {
	height: 100%;
}
body {
	display: table;
	width: 100%;
	background-color: yellow;
}
.tabellen_zelle {
	display: table-row;
	background-color: orange;

}
.maximale_hoehe {
	background-color: deepskyblue;	
	height: 100%;

}
#footer_height{
height: 5em;
background-color: green;
}


/* CSS um MENU-Button und mobile Steuerung erweitern ####################################################### */
@media only screen and (max-width:601px) {
.menue-button {
	background-color: darkblue;	
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.8em;
	color: white;
	cursor: pointer;
	text-decoration: none;
}
#bereichlogo{
	width: 100%;
}
#steuerung li {
	width: 100%;
	border-bottom: 2px solid silver;
}
#steuerung {
	float: left;
	width: 100%;
	display: none;
}
.menue-button:hover {
	color: black;
	background: orange;
}
#nav-menue:target #steuerung {
	display: block;
}
#nav-menue:target .menue-button-beschr-open {
	display: none;
}


/*eigenes CSS mobil ######################################################################################### */
#headerbild {
	display: none;	
	background: none;
}
#headerbildhintergrund {
 display: none;

}



}
