*{
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	display: table;
	width: 100%;
	background-color: yellow;
}
header{
	width: 100%;
	background-color: pink;
}

nav {
    background-color: limegreen !important;
    float: left;
}

.bereiche_allg {
	display: table-row;
	background-color: orange;
}
.maximale_hoehe{

}




@media only screen and ( max-width: 1000px ){



}












