*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
   box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	display: table;
	width: 100%;
	background-color: yellow;
}

.big_element {
	display: table-row;
	background-color: orange;
}

#inhaltsteil {
	height: 100%;
	background-color: deepskyblue;
}
#inhalts_zentrierung {
	width: 50%;
	margin: 0 auto;
}













@media only screen and ( min-width: 950px ) {  /* breites Browserfenster */

#nav_mobile {
	display: none;

}
#nav_desktop{
	background-color: pink;
	width: 20%;
	margin: 2%;
	margin-left: 0;
	float: left;
}
#contentarea {
	width: 78%;
	float: left;
	background-color: silver;
}

.nav_list_element {
	list-style: none;
}

.footer_list_element {
	list-style: none;
	float: left;
}

}
@media only screen and ( max-width: 950px ) { /* mobile ansicht */

#nav_mobile {
	position: absolute;
	left: 0;
	top: 0;
	width: 8em;
	height: 100%;
	background-color: lightgreen;
	

}
#nav-menue:target #nav_mobile{
	display: block; 
	background-color: black;
}


#nav_desktop{
	display: none;
}

.nav_list_element {
	list-style: none;
}
.footer_list_element {
	list-style: none;
	float: left;
}

}





















/*

@media only screen and ( min-width: 950px ) {     breites Browserfenster 
    body { background-color: yellow;}
}
@media only screen and ( max-width: 440px ) {     mobile Geräte 
    body { background-color: green;}
}
@media only screen and ( min-width: 440px ) and ( max-width: 950px ) {     Tablets und mittlere Bildschirme 
    body { background-color: red;}
}

*/